<div class="login">
  <%= link_to '/auth/twitter', class: "btn btn-lg btn-social btn-twitter" do %>
    <span class="fa fa-twitter"></span> Sign in with Twitter
  <% end %>
</div>
<div class="login">
  <%= link_to '/auth/vimeo', class: "btn btn-lg btn-social btn-vimeo" do %>
    <span class="fa fa-vimeo"></span> Sign in with Vimeo
  <% end %>
</div>
