<h2>Login Page</h2>

<%= link_to '/auth/twitter', class: "btn btn-lg btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span> Sign in with Twitter
<% end %>
<h5>or</h5>
<%= link_to '/auth/vimeo', class: "btn btn-lg btn-social btn-vimeo" do %>
  <span class="fa fa-vimeo"></span> Sign in with Vimeo
<% end %>
