<h2>Login Page</h2>

<%= link_to '/auth/twitter', class: "btn btn-lg btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span> Sign in with Twitter
<% end %>
<h5>or</h5>
<h3>Login in with Vimeo</h3>
