<script sync src="https://platform.twitter.com/widgets.js"></script>

<script>
    window.onload = (function(){

      var tweetList = $(".tweet");

      for (var i = 0; i < tweetList.length; i++) {
        var id = tweetList[i].getAttribute("tweetID");

        twttr.widgets.createTweet(
          id, tweetList[i],
          {
            conversation : 'none',    // or all
            cards        : 'visible',  // or visible
            linkColor    : '#EDA83C', // default is blue
            theme        : 'dark',    // or dark
            width        : '550', // amount in pixels, between 250 and 550
            align        : 'center' // float the Tweet left, right, or center
          });
      }
    });

</script>

<% @contents.each do |content| %>

  <% if content.provider == "twitter" %>

    <div class="video"> <iframe src="//player.vimeo.com/video/#{content.id}" width="550" height="310" align="center" frameborder="2" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

  <% elsif content.provider == "vimeo" %>

    <div class="tweet" tweetID="#{content_id}"></div>

  <% end %>

<% end %>
