# javascript from twitter for oembed functionality
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<h3>Your feed here. So pretty.</h3>

<blockquote class="twitter-tweet"><p>Why I joined Twitter - Andy Piper <a href="https://twitter.com/andypiper"></a><a href="https://twitter.com/intent/user?screen_name=andypiper">@andypiper</a>, Developer Advocate <a href="https://t.co/fQ796U9lq1">https://t.co/fQ796U9lq1</a></p>— TwitterDev (<a href="https://twitter.com/intent/user?screen_name=TwitterDev">@TwitterDev</a>) <a href="https://twitter.com/TwitterDev/statuses/482281320232415232">June 26, 2014</a></blockquote>
