/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.navbar.scrolled {
  background: rgb(255, 255, 255); //IE
  background: rgba(248, 248, 248, 0.9); //NON-IE
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav-center {
  margin:0;
  float:none;
}

.navbar-inner{
  text-align:center;
}

.navbar {
  position: relative;
  background: #FFFFFF;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.navbar-right {
  margin-right: 0px;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -275px !important;  /* 50% of your logo width */
  margin-top: -52px;
  display: block;
}

.jumbotron {
   height: 200px;
   background: #FFFFFF;
   margin-bottom: 0px;
}

.logo {
   position: absolute;
   left: 0px;
   top: 24px;
}

.main-content {
  background: #000000;
  background-image: image-url("galaxy.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.video {
  text-align: center;
  margin-bottom: 10px;
  iframe {
    border-left: 0px;
    border-right: 0px;
    margin-left: -25px;
  }
}

.row-centered {
  text-align: center;
  margin-left: 25px;
}

.fm-row-centered {
  text-align: center;
}

@media (min-width: 1200px){
  .fm-row-centered {
    margin-left: 90px;
  }
}

.c-search {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  display:inline-block;
  width: 240px;
  overflow: scroll;
}

@media (min-width: 992px){
  .c-search {
    height: 145px;
  }
}

.display-img {
  border-radius: 50%;
}

.form-control:focus {
  border-color: #EDA83C;
  box-shadow: 0px 1px 1px #EDA83C inset, 0px 0px 8px #EDA83C;
}

:focus  {
  outline: 0 !important;
  outline-color: #EDA83C;
  border-color: #EDA83C;
  box-shadow: 0px 1px 1px #EDA83C inset, 0px 0px 8px #EDA83C;
}

a:focus {
  outline-color: none;
  border-color: #EDA83C;
  box-shadow: 0px 1px 1px #EDA83C inset, 0px 0px 8px #EDA83C;
}

.login {
  margin-top: 50px;
  text-align: center;
}

.twitter-color {
  color: #55acee;
}

.vimeo-color {
  color: #1ab7ea;
}

.feed-manager {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  display:inline-block;
  width: 270px;
}

h3 {
  margin-top: 120px;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

// CSS Loader
#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

.pagination {
  color: white;
  text-align: center;

}

.pagination a:visted {
  color: #F1F1F1;
}
