/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.navbar {
    position: relative;
    background: #FFFFFF;

}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -275px !important;  /* 50% of your logo width */
    margin-top: -50px;
    display: block;
}

.jumbotron {
   height: 200px;
   background: #FFFFFF;
}

.logo {
   position: absolute;
   left: 0px;
   top: 24px;
}

.main-content {
  background: #000000;
}

.video {
  text-align: center;
  margin-bottom: 10px;
}

.row-centered {
  text-align: center;
  margin-left: 25px;
}

.c-search {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  display:inline-block;
  width: 240px;
  overflow: scroll;
}

@media (min-width: 992px){
  .c-search {
    height: 145px;
  }
}

.display-img {
  border-radius: 50%;
}

input[type=text], textarea {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  @include box-shadow(0 0 5px #EDA83C);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #EDA83C;
}

.login {
  margin-top: 50px;
  text-align: center;
}

.twitter-color {
  color: #55acee;
}

.vimeo-color {
  color: #1ab7ea;
}

.feed-manager {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  display:inline-block;
  width: 270px;
}

h3 {
  color: white;
}
