<header>
  <div class="jumbotron container-fluid">
    <picture>
      <source srcset="./app/assets/images/illuminapeye_small.png" media="(max-width: 770px)">
      <source srcset="./app/assets/images/illuminapeye.png">
      <img src="illuminapeye.png">
    </picture>
  </div>
</header>
